@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Yatra+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #c27819;
    color: white;
    text-align: center;
}

header h1{
    font-size: 4em;
    font-family: 'Delius Swash Caps', cursive;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.text{
    width: 40%;
    margin: 0 auto;
    font-size: 1.5em;
    margin: 0;
    border: 1px solid #c27819;
    border-radius: 10px;
}

.text h2{
    text-align: center;
}

.text p{
    text-align: justify;
    padding: 20px;
}

.image{
    width: 40%;
}

.image img{
    width: 100%;
}

footer{
    background-color: #c27819;
    color: white;
    text-align: center;
    font-family: 'Yatra One', cursive;
}

footer p{
    display: inline-block;
    padding-left: 50px;
}