@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#music{
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

video#film{
    display: block;
    position: relative;
    left: 90px;
    top: 70px;
    width: 440px;
}

iframe#youtube{
    display: block;
    position: relative;
    width: 450px;
    height: 300px;
    left: 80px;
    top: -495px;
}